---
import Layout from '@/layouts/Layout.astro';

import Info from '@/components/sections/Info.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Courses from '@/components/sections/Courses.astro';
import Education from '@/components/sections/Education.astro';
import Languages from '@/components/sections/Languages.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro'

---

<Layout title="Yahair Sotomayor Frías | Front end Developer">
	<main>
		<Info/>
		<About/>
		<Experience/>
		<Courses/>
		<Education/>
		<Languages/>
		<Skills/>
	</main>
	<KeyboardManager/>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
